body {
    margin: 0;
    padding: 0; 
    text-align: center;
    color: #333;
    font-family: 'KoHo', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
#navlist {
    background-color: #84BF32;
    color: white;
    padding: 8px;
    margin: 0;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    
}
#navlist li {
    list-style: none;
    display: inline;
    width: 25px;
    padding: 23px;
    line-height: 3;
    font-size: 18px;
    margin: 0 19px;
}
.active {
    background: white;
    color: #84Bf32;
}
#contact-bar {
    background-color: #ff9933;
    padding: 5px;
    color: white;
    font-size: 17px;
    text-align: right;
}
#contact-bar p {
    margin: 10px;
    display: inline;
}
.call-to-action {
    padding: 5px;
    background: crimson;
    color: white;
    border: none;
    font-size: 17px;
    animation-name: fade;
}
.carousel-image {    
    width: 100%;
    max-height: 570px;
    object-fit: cover;
}
.product-img {
    max-width: 100%;
    max-height: 100%;
    justify-self: stretch;
}
@media screen and (min-width: 1110px){
 #home-display-grid {
   display: grid; 
   grid-template-areas: 
        "card-one card-two card-three"
        "card-four card-five card-six"; 
    padding: 20px;
 }
 #product-pictures {
    display: grid;
    grid-template-columns: auto auto auto;
 }
}
#logo {
    background: white;
}
#card-1 { grid-area: card-one; }
#card-2 { grid-area: card-two; }
#card-3 { grid-area: card-three; }
#card-4 { grid-area: card-four; }
#card-5 { grid-area: card-five; }
#card-6 { grid-area: card-six; }
.card {
    padding: 8px;
    text-align: center;
    border: solid 1px #eee;
    margin: 10px auto;
    width: 350px;
    border-radius: 5px;
}
@media screen and (max-width: 420px) {
    .card {
        width: 300px;
    }
}
.cover {
    width: 100%;
    max-height: 140px;
    object-fit: cover;
}
.card img {
    width: inherit;
    border-radius: 5px;
}
.card p {
    text-align: left;
    line-height: 1.5;
}
#product-pictures {
    text-align: center;
}
footer {
    background: #222;
    padding: 20px;
    color: #999;
}
nav {
    background: white;
    display: grid;
    position: sticky;
    top: 0px;
    grid-template-columns: 230px auto;
} 
@media screen and (max-width: 420px){
    nav {
        display: block;
        text-align: center;
        padding: 0;
    }
    #navlist {
        padding: 0;
    }
    #navlist li {
        margin: 0; 
        padding: 16px;
        font-size: 16px;
    } 
}
#slide-button {
   display: none;
}
.about-intro {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    padding: 30px;
    text-align: left;
    line-height: 1.8;
}
.vision-mission {
    text-align: left;
    padding: 30px;
    font-size: 19px;
    display: inline-block;
}
#about-img {
    border-radius: 5px;
    max-width: 100%;
}
@media screen and (min-width: 420px) {
    .about-intro {
        padding: 25px 90px;
    }
    .vision-mission {
        padding: 70px;
    }
}
form {
    text-align: left;
    margin: 30px auto 0 auto;
    padding: 18px;
    width: 500px;
}
form input {
    width: 450px;
    font-size: 16px;
    padding: 10px;
    background: white;
    color: black;
    border: 0.5px solid darkgray;
    border-radius: 3px;
}
form select {
    width: 450px;
    font-size: 16px;
    padding: 10px;
    background: white;
    color: black;
    border: 0.5px solid darkgray;
    border-radius: 3px;
}
form p {
    font-size: 16px;
}
form textarea {
    background: white;
    color: black;
    border: 0.5px solid darkgray;
    border-radius: 3px;
}
#contact-submit-button {
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    padding: 10px;
    background: orangered;
    margin: 10px auto 50px auto;
}
textarea {
    font-size: 16px;
    padding: 10px;
}
@media screen and (max-width: 550px) {
    form {
        width: 300px;
    }
    form input {
        width: 250px;
    }
    form select {
        width: 250px;
    }
    textarea {
        width: 250px;
    }
}
#apply-submit-button {
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    padding: 10px;
    background: orangered;
    margin: 10px auto 50px auto;
}
#popup-box {
    width: 120px;
    padding: 10px;
    background: forestgreen;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 7px;
} 
#popup-message {
    padding: 5px;
    border-radius: 5px;
    background: lightgreen;
    color: blue;
    display: none; 
    line-height: 2.5;
}
#popup-snooze-btn {
    display: none;
    color: #a44; 
    background: transparent;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 110px; 
    right: 8px;
}
